
body{
	font-family: 'Inconsolata', monospace;
}

body{
	background-image: url("../bilder/gråmarmor.jpg");
	background-size: cover;
	min-height: 100vh;
	position: relative;
	text-align: center;
}





.navbar-inverse .navbar-brand{
	font-size: 35px;
}

font-size: 20px;







/*IKONER*/










  

   
}


















